* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --full-width: calc(100 * var(--vw));
    --full-height: calc(100 * var(--vh));

    --width: min(calc(95 * var(--vw)), max(800px, calc(80 * var(--vw))));
    --header-height: calc(5 * var(--vh));
    --container-height: calc(75 * var(--vh));
    --controls-height: calc(8 * var(--vh));
    --footer-height: calc(5 * var(--vh));

    --body-bg-color: rgb(34, 40, 49);
    --container-bg-color: rgb(57, 62, 70);
    --book-container-bg-color: transparent;
    --book-card-bg-color: rgb(34, 40, 49);
    --finished-button-bg-color: rgb(0, 173, 181);
    --unfinished-button-bg-color: rgb(57, 62, 70);
    --control-button-bg-color: rgb(49, 49, 49);
    --footer-bg-color: rgb(57, 62, 70);
    --form-bg-color: rgb(34, 40, 49);

    --header-text-color: white;
    --container-header-text-color: rgb(0, 173, 181);
    --title-text-color: rgb(0, 173, 181);
    --author-text-color: white;
    --notes-text-color: rgb(163, 163, 163);
    --extra-info-text-color: rgb(163, 163, 163);
    --controls-text-color: rgb(0, 173, 181);
    --footer-text-color: rgb(255, 255, 255);
    --footer-link-text-color: rgb(0, 173, 181);
    --footer-link-text-hover-color: rgb(40, 212, 222);

    --container-border-color: black;
    --book-card-border-hover-color: rgb(86, 86, 86);
    --book-car-border-selected-color: black;

    --title-border-bottom-color: grey;
}

.non-selectable {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: calc((var(--full-height) - (var(--header-height) + var(--container-height)
     + var(--controls-height) + var(--footer-height))) / 2 - 10px);
    background-color: var(--body-bg-color);
}

.header {
    width: var(--width);
    height: var(--header-height);
    font-size: calc(4 * var(--vh));
    text-align: center;
    color: var(--header-text-color);
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.container {
    width: var(--width);
    height: var(--container-height);
    background-color: var(--container-bg-color);
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    padding-right: 2px;
    display: flex;
    flex-direction: column;
    gap: var(--vh);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--container-border-color);
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: rgba(218, 196, 239, 0) /* Make the track transparent */
}

/* Customize the scrollbar thumb */
.container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Slightly visible scrollbar thumb */
    border-radius: 10px; /* Rounded corners for a seamless effect */
    border: 2px solid transparent; /* Add space around the thumb */
}

/* On hover */
.container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Darken on hover for visibility */
}

.container-header {
    font-size: max(1rem, calc(1.5 * var(--vw)));
    font-family: sans-serif;
    font-weight: bold;
    padding-left: var(--vw);
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--container-header-text-color);
}

.container-header .svg {
    height: max(1rem, calc(2 * var(--vw)));
    background-color: var(--container-header-text-color);
}

.books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--vh));
    justify-content: center;
}

.book-card {
    background-color: var(--book-card-bg-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    height: 200px;
    width: 425px;
    flex-grow: 1;
}

.book-card:hover {
    border: 2px solid var(--book-card-border-hover-color);
}

.book-card.selected {
    border: 2px solid var(--book-car-border-selected-color);
}

.book-card .svg {
    height: 20px;
}

.title {
    font-size: min(calc((2 * var(--vw) + 1.5 * var(--vh))), 1.3rem);
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid var(--title-border-bottom-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-text-color);
    font-family: "Montserrat";
}

.title button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 5px;
    border: none;
    border-radius: 4px;
    color: white;
}

.finished {
    background-color: var(--finished-button-bg-color);
}

.unfinished {
    background-color: var(--unfinished-button-bg-color);
}

.title button:hover {
    filter: brightness(0.9);
}

.author {
    display: flex;
    gap: 5px;
    font-size: min(calc((1.5 * var(--vw) + 1.5 * var(--vh))), 1rem);
    color: var(--author-text-color);
    font-style: italic;
}

.notes {
    width: 100%;
    flex-grow: 1;
    color: var(--notes-text-color);
    padding-right: 5px;
    overflow: auto;
}

.notes::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

.notes::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
}

/* Customize the scrollbar thumb */
.notes::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Slightly visible scrollbar thumb */
    border-radius: 10px; /* Rounded corners for a seamless effect */
    border: 2px solid transparent; /* Add space around the thumb */
}

/* On hover */
.notes::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Darken on hover for visibility */
}

.extra-info, .pages, .genre, .rating {
    display: flex;
    flex-direction: row;
    gap: 3px;
    font-family: sans-serif;
    padding-top: 3px;
    justify-content: space-between;
    align-items: center;
    font-size: min(calc((1.5 * var(--vw) + 1.5 * var(--vh))), 0.8rem);
    color: var(--extra-info-text-color);
}

.controls {
    width: var(--width);
    height: var(--controls-height);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.controls > * {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--vw);
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    background-color: var(--control-button-bg-color);
}

.controls h5 {
    font-size: max(0.8rem, var(--vw));
    color: var(--controls-text-color);
    transition: color 0.3s ease
}

.controls .svg {
    height: max(calc(3 * var(--vw)), 30px);
    transition: background-color 0.3s ease;
}

.footer {
    width: var(--full-width);
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    font-family: sans-serif;
    display: grid;
    place-content: center;
}

h6 {
    font-weight: normal;
    font-size: max(0.7rem, var(--vw));
}

h6 a {
    color: var(--footer-link-text-color);
    text-decoration: none;
}

h6 a:hover {
    color: var(--footer-link-text-hover-color);
}

form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;
    width: min(85%, 350px);
    padding: 20px;
    border-radius: 15px;
    background-color: var(--form-bg-color);
    box-shadow: 0 0 5px rgba(2, 209, 255, 0.5);
    padding-top: 13px;
}

textarea {
    resize: none;
    overflow-y: hidden;
    border: 2px solid transparent;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 3px;
    min-height: 50px;
}

input:focus, 
textarea:focus, 
select:focus {
    outline: none;
    border: 2px solid #4A90E2; /* Custom border color */
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

fieldset {
    border: none;
}

label, legend {
    font-size: max(1rem, calc(var(--vw)));
    font-family: sans-serif;
    color: white;
    letter-spacing: 1px;
}

legend {
    padding-bottom: 4px;
}

input[type="radio"] {
    display: none;
}

.finished-container {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 3px;
}

.finished-radio {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* Style for the label */
.finished-radio label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 8px;
    flex-grow: 1;
    text-align: center;
}

.finished-radio .svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-color: lightgray; /* Default background color */
    transition: background-color 0.3s ease;
}

input[name=finished]:checked + label{
    background-color: #4A90E2;
    box-shadow: 0 0 5px rgba(2, 209, 255, 0.5);
}

.custom-radio label {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
}

.custom-radio .svg {
    width: 24px;
    height: 24px;
    background-color: gray; /* Default background */
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-radio div {
    font-size: 0.8rem;
}

.custom-radio input[type="radio"]:checked + label .svg {
    background-color: red;
    color: red;
}

.custom-radio input[type="radio"]:checked + label {
    color: red;
}

.custom-radio .svg:hover {
    background-color: gold;
}

.custom-radio label:hover {
    color: gold;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > div > input {
    height: 30px;
    font-size: 80%;
    padding-left: 5px;
}

.form-rating > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-rating input[type="checkbox"] {
    display: none;
}

.form-rating label {
    width: 24px; /* Adjust the size of the star */
    height: 24px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.form-rating input[type="checkbox"]:checked + label {
    mask-image: url(graphics/svgs/star.svg);
    background-color: rgb(0, 173, 181);
}

.form-rating input[type="checkbox"] + label {
    mask-image: url(graphics/svgs/empty_star.svg);
    background-color: rgb(0, 173, 181);
}

/* SVGs */
.svg {
    aspect-ratio: 1 / 1;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.remove-svg {
    mask-image: url(graphics/svgs/remove.svg);
    background-color: rgb(0, 173, 181);
}

.add-svg {
    mask-image: url(graphics/svgs/add.svg);
    background-color: rgb(0, 173, 181);
}

.edit-svg {
    mask-image: url(graphics/svgs/edit.svg);
    background-color: rgb(0, 173, 181);
}

.author-svg {
    mask-image: url(graphics/svgs/author.svg);
    background-color: black;
}

.notes-svg {
    mask-image: url(graphics/svgs/notes.svg);
    background-color: black;
}

.star-svg {
    mask-image: url(graphics/svgs/star.svg);
    background-color: rgb(163, 163, 163);
}

.empty-star-svg {
    mask-image: url(graphics/svgs/empty_star.svg);
    background-color: rgb(163, 163, 163);
}

.bookmark-svg {
    mask-image: url(graphics/svgs/bookmark.svg);
    background-color: black;
}

.tick-svg, .confirm-svg {
    mask-image: url(graphics/svgs/tick.svg);
    background-color: white;
}

.confirm-svg {
    background-color: rgb(0, 173, 181);
}

.cancel-svg {
    background-color: rgb(0, 173, 181);
}

.reset-svg {
    mask-image: url(graphics/svgs/reset.svg);
    background-color: rgb(0, 173, 181);
}

.cross-svg, .cancel-svg {
    mask-image: url(graphics/svgs/cross.svg);
    background-color: rgb(0, 173, 181);
}

.pages-svg {
    mask-image: url(graphics/svgs/pages.svg);
    background-color: rgb(195, 195, 195);
}

.epic-fantasy-svg {
    mask-image: url(graphics/svgs/epic-fantasy.svg);
    background-color: rgb(164, 3, 3);
}

.horror-svg {
    mask-image: url(graphics/svgs/horror.svg);
    background-color: rgb(164, 3, 3);
}

.science-fiction-svg {
    mask-image: url(graphics/svgs/science-fiction.svg);
    background-color: rgb(164, 3, 3);
}

.drama-svg {
    mask-image: url(graphics/svgs/drama.svg);
    background-color: rgb(164, 3, 3);
}

.romance-svg {
    mask-image: url(graphics/svgs/romance.svg);
    background-color: rgb(164, 3, 3);
}

.action-svg {
    mask-image: url(graphics/svgs/action.svg);
    background-color: rgb(164, 3, 3);
}

.comedy-svg {
    mask-image: url(graphics/svgs/comedy.svg);
    background-color: rgb(164, 3, 3);
}

.thriller-svg {
    mask-image: url(graphics/svgs/thriller.svg);
    background-color: rgb(164, 3, 3);
}