* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --full-width: calc(100 * var(--vw));
    --full-height: calc(100 * var(--vh));

    --width: min(calc(95 * var(--vw)), max(800px, calc(80 * var(--vw))));
    --header-height: calc(5 * var(--vh));
    --container-height: calc(75 * var(--vh));
    --controls-height: calc(8 * var(--vh));
    --footer-height: calc(5 * var(--vh));
}

.non-selectable {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: calc((var(--full-height) - (var(--header-height) + var(--container-height)
     + var(--controls-height) + var(--footer-height))) / 2);
}

#background-img {
    position: fixed;
    top: -2.5%;
    left: -2.5%;
    width: 105%;
    height: 105%;
    background-image: url('graphics/backgroundPicture_1.webp');
    background-position: center;
    background-size: cover;
    filter: blur(5px); /* Apply blur filter to the background image */
    z-index: -1; /* Ensure the background is behind other content */
}

.header {
    width: var(--width);
    height: var(--header-height);
    font-size: calc(4 * var(--vh));
    text-align: center;
    color: white;
}

.container {
    width: var(--width);
    height: var(--container-height);
    background-color: rgb(255,193,140);
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    padding-right: 2px;
    display: flex;
    flex-direction: column;
    gap: var(--vh);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: rgba(218, 196, 239, 0) /* Make the track transparent */
}

/* Customize the scrollbar thumb */
.container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Slightly visible scrollbar thumb */
    border-radius: 10px; /* Rounded corners for a seamless effect */
    border: 2px solid transparent; /* Add space around the thumb */
}

/* On hover */
.container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Darken on hover for visibility */
}

.container-header {
    font-size: max(1rem, calc(1.5 * var(--vw)));
    font-family: sans-serif;
    font-weight: bold;
    padding-left: var(--vw);
    display: flex;
    align-items: center;
    gap: 4px;
}

.container-header .svg {
    height: max(1rem, calc(2 * var(--vw)));
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, calc(20 * var(--vw))), 1fr));
    grid-auto-rows: 200px;
    gap: calc(var(--vh));
    padding: 10px;
    background-color: rgb(132,36,12);
}

.book-card {
    background-color: rgb(231,207,180);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
}

.book-card:hover {
    border: 2px solid rgb(86, 86, 86);
}

.book-card.selected {
    border: 2px solid black
}

.book-card .svg {
    height: 20px;
}

.title {
    font-size: min(calc((2 * var(--vw) + 1.5 * var(--vh))), 1.3rem);
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 5px;
    border: none;
    border-radius: 4px;
    color: white;
}

.finished {
    background-color: green;
}

.unfinished {
    background-color: red;
}

.title button:hover {
    filter: brightness(0.9);
}

.author {
    display: flex;
    gap: 5px;
    font-size: min(calc((1.5 * var(--vw) + 1.5 * var(--vh))), 1rem);
}

.notes {
    width: 100%;
    flex-grow: 1;
    color: rgb(86,50,50);
    padding-right: 5px;
    overflow: auto;
}

.notes::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

.notes::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
}

/* Customize the scrollbar thumb */
.notes::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Slightly visible scrollbar thumb */
    border-radius: 10px; /* Rounded corners for a seamless effect */
    border: 2px solid transparent; /* Add space around the thumb */
}

/* On hover */
.notes::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Darken on hover for visibility */
}

.extra-info, .pages, .genre, .rating {
    display: flex;
    flex-direction: row;
    gap: 3px;
    font-family: sans-serif;
    padding-top: 3px;
    justify-content: space-between;
    align-items: center;
    font-size: min(calc((1.5 * var(--vw) + 1.5 * var(--vh))), 0.8rem);
}

.controls {
    width: var(--width);
    height: var(--controls-height);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.controls > * {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--vw);
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);

    transition: background-color 0.3s ease;
}

.controls h5 {
    font-size: max(0.8rem, var(--vw));
    transition: color 0.3s ease
}

.controls .svg {
    height: max(calc(3 * var(--vw)), 30px);
    transition: background-color 0.3s ease;
}

.footer {
    width: var(--full-width);
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    background-color: rgb(142, 77, 27);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: grid;
    place-content: center;
}

h6 {
    font-weight: normal;
    font-size: max(0.7rem, var(--vw));
}

h6 a {
    color: rgb(231,207,180);
    text-decoration: none;
}

h6 a:hover {
    color: rgb(255,193,140);
}

/* SVGs */
.svg {
    aspect-ratio: 1 / 1;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.remove-svg {
    mask-image: url(graphics/svgs/remove.svg);
    background-color: rgb(222, 2, 2);
}

.add-svg {
    mask-image: url(graphics/svgs/add.svg);
    background-color: green;
}

.edit-svg {
    mask-image: url(graphics/svgs/edit.svg);
    background-color: rgb(0, 56, 240);
}

.author-svg {
    mask-image: url(graphics/svgs/author.svg);
    background-color: black;
}

.notes-svg {
    mask-image: url(graphics/svgs/notes.svg);
    background-color: black;
}

.star-svg {
    mask-image: url(graphics/svgs/star.svg);
    background-color: rgb(171, 62, 3);
}

.empty-star-svg {
    mask-image: url(graphics/svgs/empty_star.svg);
    background-color: rgb(181, 59, 7);
}

.bookmark-svg {
    mask-image: url(graphics/svgs/bookmark.svg);
    background-color: black;
}

.tick-svg, .confirm-svg {
    mask-image: url(graphics/svgs/tick.svg);
    background-color: white;
}

.cross-svg, .cancel-svg {
    mask-image: url(graphics/svgs/cross.svg);
    background-color: white;
}

.pages-svg {
    mask-image: url(graphics/svgs/pages.svg);
    background-color: black;
}

.epic-fantasy-svg {
    mask-image: url(graphics/svgs/epic-fantasy.svg);
    background-color: rgb(164, 3, 3);
}

.horror-svg {
    mask-image: url(graphics/svgs/horror.svg);
    background-color: rgb(164, 3, 3);
}

.science-fiction-svg {
    mask-image: url(graphics/svgs/science-fiction.svg);
    background-color: rgb(164, 3, 3);
}

.drama-svg {
    mask-image: url(graphics/svgs/drama.svg);
    background-color: rgb(164, 3, 3);
}

.romance-svg {
    mask-image: url(graphics/svgs/romance.svg);
    background-color: rgb(164, 3, 3);
}

.action-svg {
    mask-image: url(graphics/svgs/action.svg);
    background-color: rgb(164, 3, 3);
}

.comedy-svg {
    mask-image: url(graphics/svgs/comedy.svg);
    background-color: rgb(164, 3, 3);
}

.thriller-svg {
    mask-image: url(graphics/svgs/thriller.svg);
    background-color: rgb(164, 3, 3);
}